* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  background-color: #ffffff;
  color: #555;
  font-family: "Ubuntu", Arial, Helvetica, sans-serif;
  font-weight: 300;
  font-size: 20px;
  text-rendering: optimizeLegibility;
}
.main-heading {
  height: 150px;
  background-image: linear-gradient(
      to right bottom,
      rgba(0, 0, 0, 0.507),
      rgba(0, 0, 0, 0.514)
    ),
    url(thomas-shellberg-GY2HBYeBw-8-unsplash.jpg);
  background-size: cover;
  position: relative;
}
.hero-text {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.search-form {
  width: 100%;
  height: 110px;
  position: relative;
}
.search-bar,
.search-button {
  height: 50px;
  margin-top: 30px;
  float: left;
}
.search-bar {
  border: red solid 1px;
  width: 30%;
  position: absolute;
  right: 160px;
  padding-left: 30px;
  font-size: 90%;
  font-weight: 200;
}
.search-button {
  background-color: red;
  position: relative;
  width: 50px;
  margin-right: 60px;
  position: absolute;
  right: 50px;
}
.search-icon {
  cursor: pointer;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.sort-btn {
  position: absolute;
  top: 35px;
  right: 45%;
}

.sort-by-name,
.sort-by-usn {
  display: inline-block;
  text-decoration: none;
  background-color: white;
  border: red solid 1px;
  padding: 10px 30px;
  color: red;
  border-radius: 100px;
  font-size: 80%;
  font-weight: 400;
  margin-right: 30px;
  cursor: pointer;
  transition: all 0.2s;
}
.sort-by-usn:hover {
  transform: translateY(-3px);
}
.sort-by-usn:active {
  transform: translateY(-1px);
}

.details-section {
  padding: 0 0 80px 0;
}
.detail-heading {
  display: flex;
  margin: 30px 0 30px 30px;
}
.detail-heading-text {
  width: 20%;
}
.not-found {
  width: 60%;
  text-align: center;
}

.information-container {
  height: 500px;
  overflow-y: scroll;
  width: 1120px;
  margin: 0 auto;
  padding-bottom: 3px;
}

.information {
  display: flex;
  width: 100%;
}
.sno {
  width: 4%;
  background-color: red;
  color: white;
}
.name,
.usn,
.phno {
  width: 32%;
}
.name,
.usn,
.phno,
.sno {
  font-size: 80%;
  font-weight: 400;
  text-align: center;
  padding: 10px 0px;
  border-top: black solid 1px;
  border-left: black solid 1px;
  border-bottom: black solid 1px;
}
.phno {
  border-right: black solid 1px;
}
.snoi {
  width: 4%;
  background-color: red;
  color: white;
}
.namei,
.usni,
.phnoi {
  width: 32%;
}
.namei,
.usni,
.phnoi,
.snoi {
  font-size: 80%;
  font-weight: 400;
  text-align: center;
  padding: 10px 0px;
  border-left: black solid 1px;
  border-bottom: black solid 1px;
}
.phnoi {
  border-right: black solid 1px;
}

*:focus {
  outline: none;
}

.hidden {
  display: none;
}
